{% extends "layout.html" %} {% block content %}

<h1>{{user.name}}<small><a href="{{user.site}}">{{user.site}}</a></small></h1>

<h2>Recent Submissions</h2>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>作業名稱</th>
            <th>網址</th>
            <th>MiniJudge表示</th>
            <th>更新時間</th>
        </tr>
    </thead>
    <tbody>{% for submission in submissions: %}
        <tr>
            <td>{{submission.pb_set}}</td>
            <td><a href="{{submission.url}}">{{submission.url}}</a>
            </td>
            <td>{{submission.msg}}</td>
            <td>{{submission.updated}}</td>
        </tr>
    </tbody>
    {%endfor%}
</table>
{% endblock %}